.THIS {
    margin: 0 auto;
    background-color: #fff;
    max-width: 1400px;
}

.THIS header
{
    /*display: flex;*/
}

.THIS .nav {
    /*display: flex;*/
    overflow: hidden;
}

.THIS .nav ul{
    display: inline-flex;
    background:gold ;
    height: 45px;

}

.THIS .nav ul li{
    cursor: pointer;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin: auto 10px;
    text-align: center;
}

.THIS .logo_search{
    /*display: inline-flex;*/
    /*margin: 0 auto;*/
    padding: 20px 10px;
    height: 100px;
}

.THIS .logo {
    margin-left: 25px;
}

.THIS .search_input{
    width: 70%;
    height: 40px;
    margin: 10px 0 0 40px;

}

.THIS .set_tabs{
    height: 2rem;
    /*display: flex;*/
    /*margin: 0 auto;*/
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.THIS .set_tabs ul{
    display: inline-flex;
    height: 10px;

}

.THIS .set_tabs ul li {
    white-space: nowrap;
    font-size: 0.8rem;
    color: blue;
    margin: auto 10px;
    text-align: center;
    cursor: pointer;
}

.THIS .set_img {
    /*margin: 0 auto;*/
}

.THIS .set_img img {
    border: 1px solid black;
    cursor: pointer;
}

.THIS .peple{
    height: 120px;
    margin: 0 auto;
    display: flex;
    font-weight: bolder;
    font-size: 2rem;
}

.THIS .peple h1{

}

.THIS .popular_news  {
    margin: 0 auto;
}

.THIS .popular_news img{
    border: 1px solid black;
    cursor: pointer;
}

.THIS .mainBlock{

}

@media (max-width: 480px) {
    .THIS .item{
        display: flex;
        justify-content: space-around;
    }
    .THIS .nav ul {
        display: inline;
    }
    .THIS .nav ul li{
        cursor: pointer;
        font-size: 1rem;
        color: black;
        font-weight: bold;
        background: gold;
        text-align: left;
        margin: 0 10px;
        width: 130px;
        border: 1px solid black;

    }
    .THIS .search_input{
        width: 400px;
        height: 30px;
        margin: 10px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .THIS .item{
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 1024px) {
    .THIS .item{
        display: flex;
        justify-content: space-around;
    }
}